.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    margin: 5%;
  }

.input-field {
    flex: 1 1 auto;   
    margin: 2% 2% 2% 0%;
    display: block;
    width: 100%;
}

.experience-field {
    width: auto;
}
