.navbar {
    width: 100vw;
    box-shadow: 2px 4px 8px #ababab;
    border: none;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
    padding: 0px 2rem;
    flex-wrap: wrap;
  }
  
  .links > li {
    display: inline;
    width: fit-content;
    padding: 5px 5px;
    margin: 5px 20px 5px 0px;
    font-size: 1.2rem;
  }

  .links > li:active {
    color: '#3700B3'
  }
  
  .filler {
    flex: 1 1 auto;
  }
  
  .npo-heading {
    padding: 5px;
    font-size: 2rem;
    font-weight: bolder;
  }